.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-top: 16px;
  justify-content: center;
}

.pages {
  min-width: 60px;
  text-align: center;
  color: #555;
}