.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-error);
  padding: 20px;
  gap: 12px;
}

.errorMessage {
  text-align: center;
}